body {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 98vh;
}

h1, p {
    font-size: 2em;
    margin: 0.2em;
}