body {
    margin: 0;
}

#game-area {
    width: 384px;
    height: 224px;
    border: 5px;
    border-color: red;
    border-style: solid;
    box-sizing: border-box;
}

.wall {
    background-color: hwb(296 38% 0%);
    position: absolute;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid white;
}

.immovable-wall {
    background-color: rebeccapurple;
    position: absolute;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid white;
}

.pit {
    background-color: black;
    position:absolute;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid white;
}

.key {
    background-color: yellow;
    position:absolute;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid white;
}

.door {
    background-color: brown;
    position:absolute;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid white;
}

.exit {
    background-color: green;
    color: white;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid white;
}